* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --gray: #808080;
    --black: #000;
    --txt-color: #ffffff;
    --bg-primary: #333;
    --bg-secondary: #575757;
}

html, body {
    height: 100%;
}

body {
    color: var(--txt-color);
    background-color: var(--bg-secondary);

}

header {
    height: 70px;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray); 
}

header:hover {
    background-color: var(--bg-secondary);
    color: var(--txt-white);
}

header a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--txt-color);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav {
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
}

.header_nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--bg-secondary);
}

.header_nav ul li {
    list-style: none;
    width: 100%;
    text-align: center;
}

.header_nav ul li a {
    background-color: #333;
    color: var(--txt-color);
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid var(--gray);
}

.header_nav ul li a:hover {
    background-color: var(--bg-secondary);
    color: var(--txt-white);
}

#active {
    background-color: var(--bg-secondary);
    color: var(--txt-white);
}

@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
    }
}

main {
    padding: 1.25rem;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #575757;
    min-height: 100%;
}

.hero {
    background-color: #333;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    margin-bottom: 1rem;
}

.hero_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.hero h1 {
    font-size: 2rem;
    text-align: center;
}

section {
    background-color: var(--bg-primary);
    padding: 1.25rem;
    border: 1px solid var(--gray);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.date {
    font-size: 0.8rem;
    color: var(--black);
    background-color: var(--white);
    padding: 0.2rem 0.4rem;
}

.meaning_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

hr {
    border: 1px solid var(--gray);
}

.main_nav {
    background-color: var(--bg-primary);
    padding: 1.25rem;
    border: 1px solid var(--gray);
}

.main_nav ul li {
    list-style: none;
}

a {
    color: rgba(255, 255, 0, 0.788);
    text-decoration: none;
}

a:hover {
    color: yellow;
}


.main_content_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    .main_content_container {
        flex-direction: row;
    }

    .main_nav {
        flex: 0.5;
    }

    .content {
        flex: 2;
    }

    .meaning {
        flex: 1;
    }
}


