* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --txt-color: #ffffff;
    --bg-primary: #333;
    --bg-secondary: #575757;
}

html, body {
    height: 100%;
}

body {
    color: var(--txt-color);
    background-color: var(--bg-secondary);
}

header {
    height: 70px;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px; 
}

header a {
    text-decoration: none;
    color: var(--txt-color);
    font-size: 1.5rem;
}

nav {
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--bg-secondary);
}

nav ul li {
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 1px;
}

nav ul li a {
    background-color: #333;
    color: var(--txt-color);
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--bg-secondary);
    color: var(--txt-white);
}

@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
    }
}

main {
    padding: 1.25rem;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #575757;
    min-height: 100%;
}

.hero {
    background-color: #333;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}

.hero_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.hero h1 {
    font-size: 2rem;
    text-align: center;
}

